<nav class="navbar fixed-bottom bg-danger navbar-light">
<%= link_to 'Food','#',class:"nav-item nav-link text-light" %>
<%= link_to 'アクセス','#',class:"nav-item nav-link text-light" %>
<%= link_to '予約','#',class:"nav-item nav-link text-light" %>
<form class="form-inline">
<input class="form-control mr-2" type="text" placeholder="Find">
<button class="btn btn-outline-light" >Find</button>
</form>
</nav>
<div class="row">
<div class="col-md-3">
<nav class="nav flex-column border">
<%= link_to 'Food','#',class:"nav-link" %>
<%= link_to 'アクセス','#',class:"nav-link" %>
<%= link_to '予約','#',class:"nav-link" %>
</nav>
</div>
<div class="col-md-9 border">
<h2 class="display-3">Sample.</h2>
</div>
</div>