<!DOCTYPE html>
<html>
  <head>
    <title>BsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    </head>

  <body>
  <div class="container">
  <h1 class="border-bottom display-3 mb-4">BootStrap</h1>
<%= yield %>
</div>
  </body>
</html>
